---
---

<nav class="justify-between z-1000 gap-1 w-full max-w-450 mx-auto p-3 flex fixed top-0 left-1/2 -translate-x-1/2 font-pixel-square">
  <div class="flex w-full px-4 gap-2">
    <a href="/"      class="text-xl font-bold border border-p/30 px-2 hover:bg-p/10 transition-colors">affer.js</a>
    <a href="/docs/" class="text-xl font-bold border border-p/30 px-2 hover:bg-p/10 transition-colors">docs</a>
    <a href="/demo/" class="text-xl font-bold border border-p/30 px-2 hover:bg-p/10 transition-colors">demo</a>
  </div>
</nav>
