.sl-markdown-content ul {
  list-style-type: disc !important;
  padding-inline-start: 1.5rem !important;
  margin-block: 1rem !important;
}

.sl-markdown-content ol {
  list-style-type: decimal !important;
  padding-inline-start: 1.5rem !important;
  margin-block: 1rem !important;
}

.sl-markdown-content li {
  display: list-item !important;
}