---
import '@/styles/global.css';
import '@/styles/animations.css';
import { ClientRouter } from 'astro:transitions';
import SEO from '@/components/SEO.astro';

import ThemeManager from '@/components/ThemeManager.astro';

interface Props {
	title?: string;
	description?: string;
	robots?: string;
	loadArt?: boolean;
}

const { title, description, robots, loadArt = true } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<SEO title={title} description={description} robots={robots} />
		<meta name="theme-color" content="#ffffff" />
		<ThemeManager defaultTheme="auto" />
		<ClientRouter />
		<!-- {loadArt && <script src="@/core/math-art/art-init.ts"></script>} -->
	</head>
	<body>
		<slot />
	</body>
</html>
